<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c285f4">  <td>18/03/01 15:15:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browser_Activities.Open_Browser(java.lang.String)[pri:0, instance:orbitz.test.Flight_Booking_Test@553f17c]">&gt;&gt;Open_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2058914276</td>   <td></td> </tr>
<tr bgcolor="be8bc2">  <td>18/03/01 15:15:41</td>   <td>5047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flight_Booking_Test.roundTrip_Booking()[pri:0, instance:orbitz.test.Flight_Booking_Test@553f17c]">roundTrip_Booking</td> 
  <td>TestNG@2058914276</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/03/01 15:16:15</td>   <td>38662</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browser_Activities.close_Browser()[pri:0, instance:orbitz.test.Flight_Booking_Test@553f17c]">&lt;&lt;close_Browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2058914276</td>   <td></td> </tr>
</table>
